{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Register</h1>
    <form action="/register" method="post" onsubmit="return validation()">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long and include an uppercase, a lower case, and a number." placeholder="Password" type="password">
        </div>
                <div class="form-group">
            <input class="form-control" name="confirmation" id="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn" type="submit">Register</button>
    </form>

{% endblock %}

{% block script %}
    <script>
        function validation() {
            const username = document.getElementById('username');
            const password = document.getElementById('password');
            const confirmation = document.getElementById('confirmation');
            // Ensure username not empty
            if (username.value === "") {
                alert("Must provide username");
                return false;
            }
            // Ensure password not empty
            else if (password.value === "") {
                alert("Must provide password");
                return false;
            }
            // Ensure confirmation not empty
            else if (confirmation.value === ""){
                alert("Must confirm password");
                return false;
            }
            // Ensure password and confirmation match
            else if (password.value !== confirmation.value) {
                alert("Passwords don't match");
                return false;
            }
            // Submits form
            else {
                return true;
            }
        }
    </script>
{% endblock %}
